.hero {
  height: 100vh;


  &__header {
    display: grid;
    grid-template-columns: 50% 10% auto;
    grid-template-rows: 45vh auto;
    
  }

  &__imgcontainer {
    grid-column: 1 / -2;
    grid-row: 1 / 2;
    transform: translateX(-5%);
    --slant: 6vh;
    max-width: 500px;
    max-height: 60vh;
    clip-path: polygon(var(--slant) 0, 100% 0, calc(100% - var(--slant)) 100%, 0 100%);
    
  
    img {
      object-fit: cover;
      width: 120%;
    }
  }

  &__name {
    grid-column: -1 / -3;
    grid-row: 1 / 2;
    align-self: end;
    display: inline-block;
    color: $skyblue;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    // text-align: right;
    letter-spacing: .75px;
    line-height: .85;
    margin-left: .25em;
    margin-bottom: 0;
  }

  &__body {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    text-align: center;
  }

  &__title {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem auto 1.5rem;

    & span {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 1.125rem;
    line-height: .7;

    &:nth-of-type(2) {
      opacity: .5;
    }
    &:nth-of-type(3) {
      opacity: .3;
    }
    &:nth-of-type(4) {
      opacity: .15;
    }
    &:nth-of-type(5) {
      opacity: .07;
    }
  }

  &__location {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75em;
  }

  &__flag {
    height: 1rem;
    fill: $skyblue;
    display: inline-block;
  }
  &__city {
    font-size: .625rem;
    display: inline-block;
  }

  &__links {
    background-color: $skyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem auto;
    min-height: 5rem;
  }

  &__link {
    line-height: .8;
  }

  &__icon {
    display: inline-block;
    height: 3rem;
    fill: $whitish;
    border-radius: .25em;
    margin: 0;
  }
}